<form method="post" action="{{ path('app_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-sm" style="margin-left:10%;  margin-top: -55px">
        <i class='btn bx bx-trash bx-sm text-danger' ></i>
    </button>
</form>
