{% extends 'admin/admin.base.html.twig' %}

{% block title %}Edit EltMaturite{% endblock %}

{% block body %}
    <h1>Edit EltMaturite</h1>

    {{ include('elt_maturite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_elt_maturite_index') }}">back to list</a>

    {{ include('elt_maturite/_delete_form.html.twig') }}
{% endblock %}
